body {
    height: 2000px;
    position: static;
}

header {
    display: block;
}

.head {
    background-color: #000;
    width: 100%;
    height: 113px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.eqf {
    padding-left: 80px;
    padding-right: 80px;
}

.otdka {
    width: 500px;
    height: 80px;
    background-color: blue;
    position: absolute;
    left: 170px;
}

.abc {
    width: 150px;
    height: 80px;
    display: inline-flex;
    position: relative;
}


.lc0 {
    background-color: gold;
    width: 450px;
    height: 48px;
    position: absolute;
    left: 670px;
    top: 16px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;

} 


.sukso {
    position: relative;
    font-size: 16px;
    color: white; 
    line-height: 20px; 
    font-weight: 400;
    padding: 10px 16px;
    margin: 5px;
    background-color: black; 
    text-align: center;
    cursor: default;
}

.sukso1 {
    background-color: white;
    border-radius: 1px;
    height: 2px;
    width: 18px;
    position: absolute;
    bottom: 0;
    margin-left: 7px;
}


/* .sukso:hover > .sukso1 {
    width: 7px;
    margin-left: 14px;
}

.sukso:hover {
    color: gray;
    cursor: default;
} */

.chehum {
    position: relative;
    font-size: 16px;
    color: white; 
    line-height: 20px; 
    font-weight: 400;
    padding: 10px 16px;
    margin: 5px;
    background-color: black; 
    text-align: center;
    cursor: pointer;
    text-decoration:none;
}

.chehum1 {
    position: absolute;
    visibility: hidden;
    height: 2px;
    width: 1px;
    background-color: white;
    border-radius: 1px;
    bottom: 0;
    margin-left: 17px;
    transition: .3s linear;
}

.chehum:hover > .chehum1 {
    position: absolute;
    visibility: visible;
    transform: scaleX( 8.0 );
    transition: .3s linear;
}

.chehum:hover {
    color: gray;
}

.online {
    position: relative;
    font-size: 16px;
    color: white; 
    line-height: 20px; 
    font-weight: 400;
    padding: 10px 16px;
    margin: 5px;
    background-color: black; 
    text-align: center;
    cursor: pointer;
    text-decoration:none;
}

.online1 {
    position: absolute;
    visibility: hidden;
    height: 2px;
    width: 1px;
    background-color: white;
    border-radius: 1px;
    bottom: 0;
    margin-left: 40px;
    transition: .3s linear;
}

.online:hover > .online1 {
    position: absolute;
    visibility: visible;
    transform: scaleX( 8.0 );
    transition: .3s linear;
}

.online:hover {
    color: gray;
}

._19h {
    background-color: sienna;
    width: 622px;
    height: 80px;
    left: 1168px;
    position: absolute;
    
}


.vuz {
    align-items: center;
    display: flex;
    position: relative;
    height: 80px;
}

._176 {
    /* margin-right: 8px; */
    height: 42px;
    /* width: 478px; */
    width: 430px;
    background-color: chartreuse;
    position: absolute;
    display: flex;
}


.q73 {
    appearance: none;
    background: transparent;
    background-color: red;
    color: white;
    height: auto;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    text-align: inherit;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.q73:hover {
    background-color: #717171;
    border-radius: 30px ;
}

#pp {
    right: 0;
}




.igl {
    background-color: salmon;
    display: flex ;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    z-index: 1;
}



.lub {
    background-color:black;
    width: 42px;
    height: 42px;
    left: 430px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lub>.bb{
    position: absolute;
    width: auto;
    height: 40px;
}

.lub:hover {
    background-color: #717171;
    border-radius: 30px ;

}

.circle {
    border: 1px solid red ; 
    background-color: salmon;
    z-index: 2;
    border-radius: 32px ;
    height: 66px ;
    width: 850px ;
    display: flex ;
    position: absolute;
    top: 80px;
    left: 498px;
}


._3hm {
    background-color: white;
    position: absolute;
    display: flex;
    height: 42px;
    width: 90px;
    right: 60px;
    border-radius: 32px ;
}


.material-icons {
    color: #717171;
    font-size: 28px;
    margin: 0 6px;
}


._1us {
    appearance: none ;
    background: transparent ;
    border: 0;
    color: #222222 ;
    cursor: pointer ;
    display: inline-flex;
    margin: 0px;
    padding: 5px 5px 5px 5px ;
    text-align: inherit ;
    text-decoration: none ;
}



.hnj {
    position: absolute;
    top: 113px;
    background-color: black;
    height: calc(100% - 113px);
    width: 100%;
    left: 0;
}


.dae4 {
    position: absolute;
    left: 0;
    right: 0;
    width: 1680px;
    height: 750px;
    margin: 0 auto;
}


._1vu {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 682px;
    height: 149px;

    display: flex;
    justify-content: center;
    align-items: center;
}

._1y0 {
    background-color: black;
    height: 60px;
    width: 682px;

    font-size: 40px;
    letter-spacing: -0.02em;
    line-height: 36px;
    font-weight: 500;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


._1gw {
    background-color: violet;
    position: absolute;
    width: 100%;
    height: 292px;
    top: 907px;
    left: 0;
    padding: 30px 80px 20px 80px;
    box-sizing: border-box;

}


._1sx {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 242px;
}

.yk4 {
    background-color: yellow;
    position: absolute;
    width: 100%;
    height: 68px;
    font-weight: 700;
    font-size: 32px;
}


._4bd {
    position: absolute;
    top: 68px;
    width: 100%;
    height: 174px;

    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: teal;
    gap: 16px;
    grid-auto-flow: row;
}

._1dv {
    background-color:pink;
    scroll-snap-align: start ;
    overflow: hidden ;
    height: 100%;
}

._1gw2 {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 1199px;
    left: 0;
    padding: 40px 80px 80px;
    box-sizing: border-box;
}

._1xs2 {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 365.25px;
}

._1gw3 {
    background-color: greenyellow;
    position: absolute;
    width: 100%;
    height: 550px;
    top: 1800px;
    left: 0;
    padding: 0 80px 80px;
    box-sizing: border-box;
}

._1xs3 {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 470px;
}

._dohost {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

._13a {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 0 80px;
}

._1en {
    position: absolute;
    background-color: pink;
    width: 384px;
    height: 104px;
    top: 80px;

    color: white;
    font-weight: 600;
    font-size: 48px ;
    line-height: 52px ;
}

._1eu {
    position: absolute;
    background-color: hotpink;
    width: 384px;
    height: 60px;
    top: 205px;

    color: white;
    font-size: 18px ;
    line-height: 24px ;
}


._4br {
    position: absolute;
    background-color: white;
    width: 163.42px;
    height: 48px;
    top: 320px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 16px ;
    line-height: 20px ;
    font-weight: 600;
    text-decoration: none;

}



._1gw4 {
    background-color: darkgrey;
    position: absolute;
    width: 100%;
    height: 586.66px;
    top: 2350px;
    left: 0;
}



._1gw5 {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 24px;
    top: 2697.91px;
    left: 0;
}


._1gw6 {
    background-color:thistle;
    position: absolute;
    width: 100%;
    height: 562px;
    top: 2721.91px;
    left: 0;
}

.city {
    position: absolute;
    height: 64px ;
    width: 64px;
    border-radius: 8px;
}

._1i1 {
    background-color: burlywood;
    color: black;
    position: absolute;
    left: 80px;
    width: 182.75px;
    top: 0;
    bottom: 0;
    margin: 10px auto;
}


._1xs2 {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 363.25px;
}


._3uc {
    display: flex;
    background-color: crimson;
    position: absolute;
    right: 0;
    left: 0;
    top: 53px;
    height: 420px;
    width: auto;
    list-style: none;
}

._1hf {
    float: left;
    width: 400px;
    height: 370px;
    border-radius: 8px;
    margin-left: -20px;
    margin-right: 27px;
}

._1hf2 {
    float: left;
    width: 400px;
    height: 370px;
    border-radius: 8px;
    margin-right: 48px;
}

.hehe {
    background-color: white;
    width: 400px ;
    position: absolute;
    top: 370px;
    margin-left: -20px;
    margin-right: 27px;
    
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: black;
}

.hehe2 {
    background-color: white;
    width: 400px ;
    position: absolute;
    top: 370px;
    margin-right: 48px;
    
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: black;
}

