body {
    height: 2000px;
    position: static;
}

header {
    display: block;
}

.head {
    background-color: #000;
    width: 100%;
    height: 113px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/* .head_padding {
    padding-left: 80px;
    padding-right: 80px;
} */

.head_left {
    width: 500px;
    height: 80px;
    position: absolute;
    left: 170px;
}

.head_left1 {
    width: 150px;
    height: 80px;
    display: inline-flex;
    position: relative;
}


.head_middle {
    width: 450px;
    height: 48px;
    position: absolute;
    left: 670px;
    top: 16px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;

} 


.sukso {
    position: relative;
    font-size: 16px;
    color: white; 
    line-height: 20px; 
    font-weight: 400;
    padding: 10px 16px;
    margin: 5px;
    background-color: black; 
    text-align: center;
    cursor: default;
}

.sukso1 {
    background-color: white;
    border-radius: 1px;
    height: 2px;
    width: 18px;
    position: absolute;
    bottom: 0;
    margin-left: 7px;
}



.chehum {
    position: relative;
    font-size: 16px;
    color: white; 
    line-height: 20px; 
    font-weight: 400;
    padding: 10px 16px;
    margin: 5px;
    background-color: black; 
    text-align: center;
    cursor: pointer;
    text-decoration:none;
}

.chehum1 {
    position: absolute;
    visibility: hidden;
    height: 2px;
    width: 1px;
    background-color: white;
    border-radius: 1px;
    bottom: 0;
    margin-left: 17px;
    transition: .3s linear;
}

.chehum:hover > .chehum1 {
    position: absolute;
    visibility: visible;
    transform: scaleX( 8.0 );
    transition: .3s linear;
}

.chehum:hover {
    color: gray;
}

.online {
    position: relative;
    font-size: 16px;
    color: white; 
    line-height: 20px; 
    font-weight: 400;
    padding: 10px 16px;
    margin: 5px;
    background-color: black; 
    text-align: center;
    cursor: pointer;
    text-decoration:none;
}

.online1 {
    position: absolute;
    visibility: hidden;
    height: 2px;
    width: 1px;
    background-color: white;
    border-radius: 1px;
    bottom: 0;
    margin-left: 40px;
    transition: .3s linear;
}

.online:hover > .online1 {
    position: absolute;
    visibility: visible;
    transform: scaleX( 8.0 );
    transition: .3s linear;
}

.online:hover {
    color: gray;
}

.head_right {
    width: 622px;
    height: 80px;
    left: 1168px;
    position: absolute;
    
}


.head_right1 {
    align-items: center;
    display: flex;
    position: relative;
    height: 80px;
}

.head_right_menu {
    height: 42px;
    width: 430px;
    position: absolute;
    display: flex;
}


.host {
    appearance: none;
    background: transparent;
    color: white;
    height: auto;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    text-align: inherit;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.host:hover {
    background-color: #333333;
    border-radius: 30px ;
}

#host_1 {
    right: 0;
}




.host_2 {
    display: flex ;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    z-index: 1;
}



.global {
    background-color:black;
    width: 42px;
    height: 42px;
    left: 430px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global>.bb{
    position: absolute;
    width: 30px;
    height: 30px;
}

.global:hover {
    background-color: #333333;
    border-radius: 30px ;

}


.membership {
    background-color: white;
    position: absolute;
    display: flex;
    height: 42px;
    width: 85px;
    right: 50px;
    border-radius: 32px ;
}


.material-icons {
    color: #717171;
    font-size: 28px;
    margin: 0 6px;
}


.membership_menu {
    appearance: none ;
    background: transparent ;
    border: 0;
    color: #222222 ;
    cursor: pointer ;
    display: inline-flex;
    margin: 0px;
    padding: 5px 5px 5px 5px ;
    text-align: inherit ;
    text-decoration: none ;
}



.circle {
    background-color: white;
    z-index: 2;
    border-radius: 32px ;
    height: 66px ;
    width: 850px ;
    display: flex ;
    position: absolute;
    top: 80px;
    left: 498px;
    overflow: hidden;
}

.circle1 {
    position: absolute;
    height: 100%;
    width: 260px;
    cursor: pointer;
    /* border-radius: 32px ; */
}

.cir1 {
    position: absolute;
    width: 227px;
    height: 18px;
    top: 15px;
    left: 32px;
    border-right: 1px solid #b0b0b0;

    color: black;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}

.cir1_2{
    position: absolute;
    width: 227px;
    height: 18px;
    top: 33px;
    left: 32px;
    border-right: 1px solid #b0b0b0;

    color: gray;
    font-size: 15px ;
    line-height: 18px ;
    font-weight: 400;
}

.circle1:hover {
    border-radius: 32px;
    background: #D5D5D5;
}

.circle1:hover > .cir1 {
    border-right: 1px solid white;
}
.circle1:hover > .cir1_2 {
    border-right: 1px solid white;
}


.circle2 {
    position: absolute;
    height: 100%;
    width: 180px;
    left: 260px;
    cursor: pointer;
}

.cir2 {
    position: absolute;
    width: 148px;
    height: 18px;
    top: 15px;
    left: 32px;
    border-right: 1px solid #b0b0b0;

    color: black;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}

.cir2_2{
    position: absolute;
    width: 148px;
    height: 18px;
    top: 33px;
    left: 32px;
    border-right: 1px solid #b0b0b0;

    color: gray;
    font-size: 15px ;
    line-height: 18px ;
    font-weight: 400;
}

.circle2:hover {
    border-radius: 32px;
    background: #D5D5D5;
}

.circle2:hover > .cir1 {
    border-right: 1px solid white;
}
.circle2:hover > .cir1_2 {
    border-right: 1px solid white;
}
.circle2:hover > .cir2 {
    border-right: 1px solid white;
}
.circle2:hover > .cir2_2 {
    border-right: 1px solid white;
}

.circle3 {
    position: absolute;
    height: 100%;
    width: 180px;
    left: 440px;
    /* border-radius: 32px ; */
}

.circle3:hover {
    border-radius: 32px;
    background: #D5D5D5;
}

.circle3:hover > .cir2 {
    border-right: 1px solid white;
}
.circle3:hover > .cir2_2 {
    border-right: 1px solid white;
}



.circle4 {
    position: absolute;
    height: 100%;
    width: calc(100% - 620px);
    left: 620px;
    /* border-radius: 32px ; */
}

.cir4 {
    position: absolute;
    width: 80px;
    height: 18px;
    top: 15px;
    left: 32px;

    color: black;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}

.cir4_2{
    position: absolute;
    width: 80px;
    height: 18px;
    top: 33px;
    left: 32px;

    color: gray;
    font-size: 15px ;
    line-height: 18px ;
    font-weight: 400;
}

.circle4:hover {
    border-radius: 32px;
    background: #D5D5D5;
}

.cir4_3 {
    position: absolute;
    background-color: #ff545f;
    width: 45px;
    height: 43px;
    top: 10px;
    right: 15px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cir4_3:hover {
    background-color: #ff0066;
}
.cir4_3:hover > .circle4 {
    background: white;
}

.cir4_3>.material-icons {
    color: white;
}




.main_background {
    position: absolute;
    top: 113px;
    background-color: black;
    height: 794px;
    /* height: calc(100% - 113px); */
    width: 100%;
    left: 0;
}


.main_image {
    position: absolute;
    left: 0;
    right: 0;
    width: 1680px;
    height: 750px;
    margin: 0 auto;
}


.for_host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 682px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.for_host1 {
    height: 60px;
    width: 682px;

    font-size: 40px;
    letter-spacing: -0.02em;
    line-height: 36px;
    font-weight: 500;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


.section1 {
    background-color: violet;
    position: absolute;
    width: 100%;
    height: 292px;
    top: 907px;
    /* top:907px; */
    left: 0;
    padding: 30px 80px 20px 80px;
    box-sizing: border-box;

}


.section1_shape {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 242px;
}

.section_head {
    background-color: yellow;
    position: absolute;
    width: 100%;
    height: 68px;
    font-weight: 700;
    font-size: 32px;
}


.grid {
    position: absolute;
    top: 68px;
    width: 100%;
    height: 174px;

    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: teal;
    gap: 16px;
    grid-auto-flow: row;
}

.grid_shape {
    background-color:pink;
    overflow: hidden ;
    height: 100%;
}

.city {
    position: absolute;
    height: 64px ;
    width: 64px;
    border-radius: 8px;
}

.city_time {
    background-color: burlywood;
    color: black;
    position: absolute;
    left: 80px;
    width: 182.75px;
    top: 0;
    bottom: 0;
    margin: 10px auto;
}

.section2 {
    background-color: paleturquoise;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 1199px;
    left: 0;
    padding: 40px 80px 80px;
    box-sizing: border-box;
}

.section2_shape {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 365.25px;
}


.section2_ul {
    display: flex;
    background-color: crimson;
    position: absolute;
    right: 0;
    left: 0;
    top: 53px;
    height: 420px;
    width: auto;
    list-style: none;
}

.section2_item1 {
    float: left;
    width: 400px;
    height: 370px;
    border-radius: 8px;
    margin-left: -20px;
    margin-right: 27px;
}

.section2_item2 {
    float: left;
    width: 400px;
    height: 370px;
    border-radius: 8px;
    margin-right: 48px;
}

.section2_menu1 {
    background-color: white;
    width: 400px ;
    position: absolute;
    top: 370px;
    margin-left: -20px;
    margin-right: 27px;
    
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: black;
}

.section2_menu2 {
    background-color: white;
    width: 400px ;
    position: absolute;
    top: 370px;
    margin-right: 48px;
    
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: black;
}

















.section3 {
    background-color: greenyellow;
    position: absolute;
    width: 100%;
    height: 550px;
    top: 1800px;
    left: 0;
    padding: 0 80px 80px;
    box-sizing: border-box;
}

.section3_shape {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 470px;
}

.do_host {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.section3_image {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 0 80px;
}

.section3_1 {
    position: absolute;
    background-color: pink;
    width: 384px;
    height: 104px;
    top: 80px;

    color: white;
    font-weight: 600;
    font-size: 48px ;
    line-height: 52px ;
}

.section3_2 {
    position: absolute;
    background-color: hotpink;
    width: 384px;
    height: 60px;
    top: 205px;

    color: white;
    font-size: 18px ;
    line-height: 24px ;
}


.section3_menu {
    position: absolute;
    background-color: white;
    width: 163.42px;
    height: 48px;
    top: 320px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 16px ;
    line-height: 20px ;
    font-weight: 600;
    text-decoration: none;

}















.section4 {
    background-color: darkgrey;
    position: absolute;
    width: 100%;
    height: 650px;
    top: 2351px;
    left: 0;
    padding: 0 80px 80px;
    box-sizing: border-box;
}

.section4_shape {
    background-color: white;
    position: absolute;
    width: calc(100% - 160px);
    height: 100%;
}

.section4_head {
    background-color: yellow;
    position: absolute;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 32px;
}

.section4_head_2 {
    background-color: yellow;
    position: absolute;
    top:50px;
    width: 100%;
    height: 70px;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
}

.section4_article1 {
    background-color: pink;
    position: absolute;
    top: 120px;
    width: 550px;
    height: 510px;
}

.section4_article2 {
    background-color: pink;
    position: absolute;
    top: 120px;
    width: 550px;
    height: 510px;
    left: 600px;
}

.section4_article3 {
    background-color: purple;
    position: absolute;
    top: 120px;
    width: 550px;
    height: 510px;
    left: 1193px;
}

.section4_image {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 450px;
    z-index: 1;
}

.section4_menu {
    background-color: rosybrown;
    position: absolute;
    width: 100%;
    height: 22px;
    top: 460px;

    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: black;
}

.section4_menu_info {
    background-color: rosybrown;
    position: absolute;
    width: 100%;
    height: 22px;
    top: 490px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: black;
}












.section5 {
    background-color: blueviolet;
    position: absolute;
    width: 100%;
    height: 24px;
    top: 3000px;
    left: 0;
}



















.footer {
    background-color:#f7f7f7;
    position: absolute;
    width: 100%;
    height: 562px;
    top: 3024px;
    left: 0;
    padding: 0 80px 80px;
    box-sizing: border-box;
    border-top: 1px solid #b0b0b0;
}

.footer_shape {
    background-color: pink;
    position: absolute;
    width: calc(100% - 160px);
    height: 562px;
}

.footer_shape_top {
    background-color: rebeccapurple;
    position: absolute;
    width: 100%;
    height: 473px;
    padding: 20px 0;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid #b0b0b0;
}

/* .footer_section {
    position: absolute;
    width: 280.75px;
    height: 377px;
    padding-bottom: 0px ;
    margin-bottom: 0px ;
    border-bottom: 0px ;
}  */

.section_menu {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

.section_ul {
    background-color: cadetblue;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
    width: 436px;
}

.section_item {
    margin-top: 16px;
    padding-left: 0;
}



.section_item_font {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: black;
}

.section_item_font:hover {
    text-decoration:underline;
}





.footer_shape_bottom {
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    top: 473px;
    margin: auto 0;
    display: flex;
    align-items: center;
}

.footer_shape_bottom_info {
    background-color: white;
    position: absolute;
    width: 1243px;
    height: 100%;
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 18px;
    color: black;
}

.footer_shape_bottom_font {
    font-size: 14px;
    line-height: 18px;
    color: black;
    text-decoration: none;
}

.footer_shape_bottom_font:hover {
    text-decoration:underline;
}


.footer_shape_bottom_language {
    position: absolute;
    background-color: brown;
    height: 100%;
    width: 110px;
    top: 0;
    right: 360px;
}


.footer_shape_bottom_currency {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 85px;
    top: 0;
    right: 260px;
}

.footer_shape_bottom_sns {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0;
    right: 0;
    padding-left: 10px;
}

.korea {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 10px;
}

.korean {
    position: absolute;
    left: 30px;
    color: black;
    text-decoration: underline;
    bottom: 10px;

    font-size: 14px;
    font-weight: 600
}

.facebook {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 10;
    margin: auto 0;
}

.facebook:hover {
    opacity: 0.5;
}

.twitter {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto 0;
}

.twitter:hover {
    opacity: 0.5;
}

.insta {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 90px;
    margin: auto 0;
}

.insta:hover {
    opacity: 0.5;
}

.blog {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 130px;
    margin: auto 0;
}


.post {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 170px;
    margin: auto 0;
}
