body {
    height: 2000px;
    position: static;
    background-color: pink;
}

header {
    display: block;
}

.head {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    /* border-bottom: 1px solid #DDDDDD; */
    box-shadow: 0px 4px 12px rgb(0 0 0 / 8%);
}

/* .head_padding {
    padding-left: 80px;
    padding-right: 80px;
} */

.head_left {
    width: 500px;
    height: 80px;
    position: absolute;
    left: 170px;
}

.head_left1 {
    width: 105px;
    height: 80px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.logo1 {
    color: #ff385c;
    width: 102px;
    height: 32px;
    fill: currentcolor;
    display: block;
}



.search_start {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 8%);
    width: 300px;
    height: 48px;
    position: absolute;
    display: inline-flex;
    margin: 15px 40%;

    overflow: hidden;
    transition: box-shadow 0.2s ease;
}

.search_start:hover {
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 0px 4px 12px rgb(0 0 0 / 15%);
    cursor: pointer;
}


.A{
    height: 48px;
    width: 230px;
    position: absolute;

    color: black;
    align-items: center;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 0 22px;
}


.B {
    position: absolute;
    background-color: #ff545f;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 8px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: block; 
    fill: none; 
    height: 16px; 
    width: 16px; 
    stroke: currentcolor; 
    stroke-width: 4; 
    color: white;
    overflow: visible;
}

.gg {
    left: 500px;
    top: 200px;
    width: 100%;
    position: absolute;
    width: 500px;
    height: 100px;
    background-color: yellow;
}
/* 
.gg:hover {
    transform: scale(-2) translateY(100px);
    transition-duration: 0.2s;
} */






















.head_right {
    width: 622px;
    height: 80px;
    left: 1168px;
    position: absolute;
    
}


.head_right1 {
    align-items: center;
    display: flex;
    position: relative;
    height: 80px;
}

.head_right_menu {
    height: 42px;
    width: 430px;
    position: absolute;
    display: flex;
}


.host {
    appearance: none;
    background: transparent;
    color: black;
    height: auto;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    text-align: inherit;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.host:hover {
    background-color: #f7f7f7;
    border-radius: 30px ;
}

#host_1 {
    right: 0;
}




.host_2 {
    display: flex ;
    align-items: center;
    height: auto;
    justify-content: center;
    position: relative;
    z-index: 1;
}



.global {
    background-color: white;
    width: 42px;
    height: 42px;
    left: 430px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global_icon{
    display: block; 
    height: 16px; 
    width: 16px; 
    fill: currentcolor;
    color: black;
}



.global:hover {
    background-color: #f7f7f7;
    border-radius: 30px ;

}


.membership {
    border: 1px solid #DDDDDD;
    position: absolute;
    display: flex;
    height: 42px;
    width: 85px;
    right: 50px;
    border-radius: 32px ;

    transition: box-shadow 0.2s ease;
}

.membership:hover{
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 0px 4px 12px rgb(0 0 0 / 15%);
}



.material-icons {
    color: #717171;
    font-size: 28px;
    margin: 0 6px;
}


.membership_menu {
    appearance: none ;
    background: transparent ;
    border: 0;
    color: #222222 ;
    cursor: pointer ;
    display: inline-flex;
    margin: 0px;
    padding: 5px 5px 5px 5px ;
    text-align: inherit ;
    text-decoration: none ;
}



.another_circle {
    background-color: white;
    z-index: 1;
    border-radius: 32px ;
    height: 66px ;
    width: 850px ;
    display: flex ;
    position: absolute;
    top: 80px;
    left: 498px;
    overflow: hidden;
}

.new_circle1 {
    position: absolute;
    height: 100%;
    width: 425px;
    cursor: pointer;
    /* border-radius: 32px ; */
}

.new_cir1 {
    position: absolute;
    width: 393px;
    height: 18px;
    top: 15px;
    left: 32px;
    border-right: 1px solid #E4E4E4;

    color: black;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}

.new_cir1_2{
    position: absolute;
    width: 393px;
    height: 18px;
    top: 33px;
    left: 32px;
    border-right: 1px solid #e4e4e4;

    color: gray;
    font-size: 15px ;
    line-height: 18px ;
    font-weight: 400;
}

.new_circle1:hover {
    border-radius: 32px;
    background: #E4E4E4;
}

.new_circle1:hover > .cir1 {
    border-right: 1px solid white;
}
.new_circle1:hover > .cir1_2 {
    border-right: 1px solid white;
}

.new_cir2 {
    position: absolute;
    width: 148px;
    height: 18px;
    top: 15px;
    left: 32px;

    color: black;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}

.new_cir2_2 {
    position: absolute;
    width: 148px;
    height: 18px;
    top: 33px;
    left: 32px;

    color: gray;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

}

.new_circle3 {
    position: absolute;
    height: 100%;
    width: 430px;
    left: 425px;
    /* border-radius: 32px ; */
}

.new_circle3:hover {
    border-radius: 32px;
    background: #E4E4E4;
}


.another_cir4_3 {
    position: absolute;
    background-color: #ff545f;
    width: 45px;
    height: 43px;
    top: 10px;
    right: 8px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.another_cir4_3:hover {
    background-color: #ff0066;
    cursor: pointer;
}
.another_cir4_3:hover > .circle4 {
    background: white;
}

.another_cir4_3>.search {
    display: block; 
    fill: none; 
    height: 16px; 
    width: 16px; 
    stroke: currentcolor; 
    stroke-width: 4; 
    color: white;
    overflow: visible;
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.btn--scrollToTop {
    position: fixed;
    bottom: 60px;
    width: 70px;
    right: calc((100% - 1500px)/2 - 100px);
    cursor: pointer;
    animation: float 6s linear infinite;
    border-radius: 100%;

}